In [1]:
"""
Notebook to process the classifier data
"""

'\nNotebook to process the classifier data\n'

In [2]:
import pandas as pd

In [5]:
actual_price = pd.read_csv('actual_price.csv', index_col=0, parse_dates=True)
actual_price.head()

                     RRP SA1 offset 0 HH PUBLIC_DVD_TRADINGPRICE
SETTLEMENTDATE
2016-09-12 09:50:00                                        59.66
2016-09-12 09:55:00                                        59.66
2016-09-12 10:00:00                                        52.49
2016-09-12 10:05:00                                        52.49
2016-09-12 10:10:00                                        52.49

In [7]:
actual_price.columns = ['C_electricity_price_[$/MWh]']

In [59]:
p = pd.read_csv('price_predictions.csv', index_col=0, parse_dates=True)
p = p.drop('Current_price', axis=1)

In [60]:
p.head()

,Price_Bin_Prediction_Horizon_6,Price_Bin_Prediction_Horizon_12,Price_Bin_Prediction_Horizon_24
SETTLEMENTDATE,,,
2016-12-09 09:20:00,High,High,High
2016-12-09 09:25:00,High,High,High
2016-12-09 09:30:00,High,High,High
2016-12-09 09:35:00,High,High,High
2016-12-09 09:40:00,High,High,High

In [61]:
unencoded = [p.iloc[:, n] for n in range(p.shape[1])]

In [67]:
encoded = [pd.get_dummies(col) for col in unencoded]
names = ['h_6_', 'h_12_', 'h_24_']
encoded = [df.add_prefix(name) for df, name in zip(encoded, names)]

In [68]:
obs = pd.concat(encoded, axis=1)
obs.head()

,h_6_High,h_6_Low,h_6_Medium,h_6_Negative,h_6_Very High,h_12_High,h_12_Low,h_12_Medium,h_12_Negative,h_12_Very High,h_24_High,h_24_Low,h_24_Medium,h_24_Negative,h_24_Very High
SETTLEMENTDATE,,,,,,,,,,,,,,,
2016-12-09 09:20:00,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
2016-12-09 09:25:00,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
2016-12-09 09:30:00,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
2016-12-09 09:35:00,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
2016-12-09 09:40:00,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0

In [69]:
p_current = pd.read_csv('HH_horizon_prediction_encoded.csv', index_col=0, parse_dates=True)
p_current.head()

,Predicted_Price_Bin_High,Predicted_Price_Bin_Low,Predicted_Price_Bin_Medium,Predicted_Price_Bin_Negative,Predicted_Price_Bin_Very High
SETTLEMENTDATE,,,,,
2016-09-12 09:50:00,1,0,0,0,0
2016-09-12 09:55:00,1,0,0,0,0
2016-09-12 10:00:00,1,0,0,0,0
2016-09-12 10:05:00,1,0,0,0,0
2016-09-12 10:10:00,1,0,0,0,0

In [70]:
p_current.columns = ['h_0_High', 'h_0_Low', 'h_0_Medium', 'h_0_Negative', 'h_0_Very High']
p_current.head()

,h_0_High,h_0_Low,h_0_Medium,h_0_Negative,h_0_Very High
SETTLEMENTDATE,,,,,
2016-09-12 09:50:00,1,0,0,0,0
2016-09-12 09:55:00,1,0,0,0,0
2016-09-12 10:00:00,1,0,0,0,0
2016-09-12 10:05:00,1,0,0,0,0
2016-09-12 10:10:00,1,0,0,0,0

In [71]:
obs.head()

,h_6_High,h_6_Low,h_6_Medium,h_6_Negative,h_6_Very High,h_12_High,h_12_Low,h_12_Medium,h_12_Negative,h_12_Very High,h_24_High,h_24_Low,h_24_Medium,h_24_Negative,h_24_Very High
SETTLEMENTDATE,,,,,,,,,,,,,,,
2016-12-09 09:20:00,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
2016-12-09 09:25:00,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
2016-12-09 09:30:00,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
2016-12-09 09:35:00,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
2016-12-09 09:40:00,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0

In [89]:
observation = pd.concat([p_current, obs], axis=1).dropna()
observation.head()

,h_0_High,h_0_Low,h_0_Medium,h_0_Negative,h_0_Very High,h_6_High,h_6_Low,h_6_Medium,h_6_Negative,h_6_Very High,h_12_High,h_12_Low,h_12_Medium,h_12_Negative,h_12_Very High,h_24_High,h_24_Low,h_24_Medium,h_24_Negative,h_24_Very High
SETTLEMENTDATE,,,,,,,,,,,,,,,,,,,,
2016-12-12 00:00:00,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2016-12-12 00:05:00,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2016-12-12 00:10:00,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2016-12-12 00:15:00,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2016-12-12 00:20:00,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [90]:
state, observation = actual_price.align(observation, axis=0, join='inner')

In [91]:
state.head()

                     C_electricity_price_[$/MWh]
SETTLEMENTDATE
2016-12-12 00:00:00                         19.8
2016-12-12 00:05:00                         19.8
2016-12-12 00:10:00                         19.8
2016-12-12 00:15:00                         19.8
2016-12-12 00:20:00                         19.8

In [92]:
observation.head()

,h_0_High,h_0_Low,h_0_Medium,h_0_Negative,h_0_Very High,h_6_High,h_6_Low,h_6_Medium,h_6_Negative,h_6_Very High,h_12_High,h_12_Low,h_12_Medium,h_12_Negative,h_12_Very High,h_24_High,h_24_Low,h_24_Medium,h_24_Negative,h_24_Very High
SETTLEMENTDATE,,,,,,,,,,,,,,,,,,,,
2016-12-12 00:00:00,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2016-12-12 00:05:00,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2016-12-12 00:10:00,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2016-12-12 00:15:00,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2016-12-12 00:20:00,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [93]:
assert state.index[0] == observation.index[0]
assert state.index[-1] == observation.index[-1]

In [94]:
state.to_csv('state.csv')
observation.to_csv('observation.csv')